@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-image: linear-gradient(to right,#BFB78F,#A5A692 );
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow:5px 5px 15px #4141379d;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
  color: #F2A71B;
  text-align: center;
  text-shadow: 1px 1px 0px #a16e0f;
}

h2 {
    color: #011F26;
}

p {
  text-align: justify; 
}